/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
}

/* Base Layout */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#body-layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


/* 대표 색상 */
:root {
  --primary-color: #2D3436;     /* 진한 차콜 그레이 */
  --secondary-color: #636E72;   /* 중간 톤 그레이 */
  --tertiary-color: #B2BEC3;    /* 밝은 그레이 */
  --accent-color: #00B894;      /* 민트 포인트 */
  --background-color: #FFFFFF;   /* 화이트 */
}


